body {
    background-color: #38423B;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#clear-all {
    height: 30px;
    background-color: #white;
    border-radius: 5px;
}
/* ---------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prompt-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #E6E1C5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
    text-align: center;
}

input{
    width: 300px;
}

#question-input {
    margin-bottom: 20px;
}

#button-container {
    text-align: center;
    margin: 10px;
}
/* ---------- */
#card-container {
    display: flex;
    width: 100%;
    flex: 1 0 33%;
    flex-wrap: wrap;
    justify-content: center;
}

.flashcard {
    height: 200px;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}

.question {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: lightcoral;
}

.answer {
    width: 80%;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-top: 2px solid lightcoral;
    font-size: 18px;
    font-weight: 700;
    color: #628B48;
}