header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-all {
    height: 50%;
}
/* ---------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prompt-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input{
    width: 300px;
}

#question-input {
    margin-bottom: 20px;
}

#button-container {
    text-align: center;
    margin: 10px;
}
/* ---------- */
#card-container {
    display: flex;
    width: 100vw;
    flex: 1 0 33%;
    flex-wrap: wrap;
}

.newCard-container {
    height: 200px;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
}
